<html>

<head>
  <title>Flask app</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body>
  <ul class="ul-main-menu">
  {% if data['username'] %}
    <li>User: {{ data['username'] }}</li>
  {% else %}
    <li>
      <form action="/login" id="form-log-in" method="post"/>
        <label for="login">Login: </label>
        <input id="input-login" name="login" type="text" form="form-log-in"/>
      </form>
    </li>
    <li>
      <label for="password">Password: </label>
      <input id="input-password" name="password" type="text" form="form-log-in"/>
    </li>
    <li>
      <button type="submit" form="form-log-in">Login</button>
    </li>
  {% endif %}
  </ul>

  {% for message in data['messages']%}
    <table style="width:100%">
      {% if message[0] == 1 %}
        <tr><td><h3>Pinned message</h3></td></tr>
      {% endif %}
      <tr>
        <td>{{ message[3] }}</td>
        <td>{{ message[2] }}</td>
        <td>
          {% if 1 in data['uid_rids'] or data['uid'] == message[1] %}
            <a href="/delmsg?id={{ message[0] }}">Delete</a>
          {% endif %}
        </td>
      </tr>
      <tr><td>{{ message[4] }}</td></tr>
    </table>
  {% endfor %}
<body>

</html>